feedparser
requests
python-dotenv
google-generativeai>=0.8.5
discord.py
pendulum           # nicer timezone handling
yt-dlp
beautifulsoup4
Flask
gunicorn
celery
redis
Flask-Cors
aiohttp
boto3
rich
boto3
pytest
moto

